@media (max-width: 1790px) {
  .testimonial__item--six {
    flex-direction: row-reverse;
    left: 63%;

    .testimonial__img-box {
      margin-left: 16px;
      margin-right: 0;
    }
  }
}

@media (max-width: 1340px) {
  .articles__box {
    flex-wrap: wrap;
  }

  .articles__recent {
    width: 100%;
  }

  .articles__wrapper {
    max-width: 100%;
  }

  .articles__item {
    justify-content: space-between;
  }

  .articles__item-descr {
    max-width: 100%;
  }
}

@media (max-width: 1280px) {
  .virtual {
    padding-top: 175px;
  }

  .virtual__inner,
  .about-us__inner {
    flex-direction: column;
  }

  .virtual__content {
    margin: 0 auto;
    padding: 0;
  }

  .virtual__content,
  .virtual__text,
  .about-us__coloumn-text {
    max-width: 100%;
  }

  .virtual__hero {
    justify-content: flex-end;
    margin-top: -100px;
  }

  .virtual__video {
    left: 20%;
    top: 40%;
  }

  .virtual__wrapper-img {
    position: static;

    &::after {
      width: 70%;
    }
  }

  .about-us__coloumn {
    width: 600px;
    margin: 0 auto 50px;
  }

  .about-us__wrapper-img::after {
    left: 0;
    width: 140%;
  }

  .testimonial__wrapper {
    position: relative;
  }

  .testimonial__item {
    width: 340px;
  }

  .testimonial__item--two {
    left: 43%;
    top: 8%;
  }

  .testimonial__item--four {
    top: 75%;
    left: 42%;
  }

  .testimonial__item--six {
    left: 60%;
  }

  .pricing__inner {
    flex-wrap: wrap;
  }

  .pricing__img {
    margin: 0 50%;
  }

  .pricing__column::after {
    height: 100%;
  }

  .pricing__guarantee {
    right: 60%;
    bottom: 20%;
  }

  .articles {
    position: relative;
  }

  .articles__box::after {
    width: 24%;
  }
}

@media (max-width: 1100px) {
  .decor-net::after {
    width: 48.75rem;
    bottom: -20%;
  }

  .service__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .service__item-btn {
    display: block;
    transform: translate(-50%, 140%);
  }

  .service__item:active::before {
    opacity: 1;
  }

  .service__item:hover .service__item-text {
    color: $grey-1;
  }

  .service__item-title {
    position: absolute;
    top: 50px;
    left: 100px;
  }

  .service__item-text {
    margin-top: 30px;
  }

  .why-us__inner {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .why-us__coloumn {
    order: -1;
    width: 100%;
    margin-bottom: 70px;
  }

  .why-us__img {
    margin: 0 auto;
    max-width: 100%;
  }

  .why-us__video {
    right: 10%;
  }

  .testimonial {
    margin-bottom: 0;
  }

  .testimonial__wrapper {
    height: 1000px;
  }

  .pricing__inner::after {
    width: 30%;
    transform: translate(-50%, -50%) rotate(175deg);
    top: 70%;
  }

  .pricing__guarantee {
    right: 50%;
  }

  .partners__item--1 {
    left: 1%;
  }

  .partners__item--2 {
    left: 7%;
  }

  .partners__item--3 {
    left: 20%;
  }

  .partners__item--4 {
    right: 45%;
  }

  .partners__item--5 {
    right: 22%;
  }

  .partners__item--6 {
    right: 10%;
  }

  .partners__item--7 {
    right: 4%;
  }

  .articles__btn {
    position: absolute;
    bottom: -95px;
    left: 50%;
    transform: translate(-50%);
  }

  .newsletter__inner {
    flex-direction: column;
    justify-content: center;
  }

  .newsletter__title {
    max-width: 100%;
    text-align: center;
    margin-bottom: 7px;
  }

  .footer::before {
    width: 53rem;
  }

  .footer__inner {
    flex-direction: column;
  }

  .footer__box-logo {
    flex-direction: row;
    margin-bottom: 50px;
  }

  .footer__additional-links {
    justify-content: flex-start;
    margin: 0 0 30px 20px;
  }

  .footer__contacts {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-66%);
  }
}

@media (max-width: 890px) {
  .decor-net::after {
    width: 35.75rem;
    bottom: -33%;
  }

  .menu {
    transform: translateX(-300%);
    transition: transform 0.5s;
    display: none;
  }

  .menu.active {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(24, 24, 27, 0.9);
    width: 100%;
    height: 100vh;
    z-index: 10;
    padding: 90px 30px 30px;
    transform: translateX(0%);

    .menu__list {
      flex-direction: column;
    }

    .menu__item {
      margin: 15px 0;
      font-size: 1.35rem;
      line-height: 2.25rem;
    }

    .submenu {
      position: static;
    }

    .submenu.active {
      width: 90%;
      background:
        linear-gradient(rgba(24, 24, 27, 0.9), rgba(24, 24, 27, 0.9)) center/ calc(100% - 2px) calc(100% - 2px) no-repeat,
        linear-gradient(90deg, rgba(255, 255, 255, .3) 0, transparent 100%);
    }

    .submenu__item {
      margin-bottom: 15px;
    }
  }

  .burger-menu {
    display: block;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid;
    border-image: $gradient;
    border-image-slice: 1;
    background-color: transparent;
    padding: 6px;
    order: 1;
    cursor: pointer;
    z-index: 20;

    span {
      background-color: $white;
      height: 1px;
      display: block;
      width: 30px;
      position: relative;
      right: -5px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        background-color: $white;
        height: 1px;
        right: 0;
        transition: all .5s ease;
      }

      &::before {
        width: 35px;
        top: -10px;
      }

      &::after {
        width: 25px;
        bottom: -10px;
      }
    }
  }

  .burger-menu.active {
    span {
      background-color: transparent;
      right: -4px;

      &::before,
      &::after {
        width: 30px;
        transition: all .5s ease;
      }

      &::before {
        transform: rotate(45deg);
        top: 0;
      }

      &::after {
        transform: rotate(-45deg);
        bottom: 0;
      }
    }
  }

  .adaptive-btn {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 5px;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .menu__dropdown.active {
    .adaptive-btn {
      transform: translateY(190px);
    }
  }

  .contact-us {
    display: none;
  }

  .virtual__hero {
    margin-top: -50px;
  }

  .virtual__wrapper-img {
    width: 350px;
    overflow: hidden;
  }

  .virtual__ecs-wrapper {
    flex-wrap: wrap;
    gap: 30px;
  }

  .virtual__item-img,
  .service__item-img {
    margin-bottom: 5px;
  }

  .decor-hero::after {
    width: 18.75rem;
    height: 23.313rem;
  }

  .about-us__decor-hero::after {
    top: 46px;
  }

  .service__content {
    flex-wrap: wrap;
  }

  .service__content-text {
    margin-top: 30px;
    max-width: 100%;
  }

  .why-us__wrapper-img {
    overflow: visible;
  }

  .why-us__decor-hero::after {
    top: 38px;
  }

  .why-us__img {
    margin: 0 34%;
    width: 350px;
  }

  .why-us__video {
    bottom: -40px;
    right: 13%;
  }

  .why-us__wrapper-img::after {
    filter: blur(110px);
  }

  .testimonial__wrapper,
  .pricing__inner,
  .articles__box {
    width: auto;
  }

  .testimonial__item--six {
    left: 48%;
  }

  .testimonial__item--four {
    flex-direction: row-reverse;
    top: 67%;
    left: 33%;

    .testimonial__img-box {
      margin-right: 0;
      margin-left: 16px;
    }
  }

  .testimonial__item--five {
    top: 50%;
    left: 7%;
  }

  .testimonial__item--three {
    top: 55%;
    left: 46%;
  }

  .testimonial__item--one {
    left: 18%;
  }

  .footer::before {
    width: 40rem;
  }

  .footer__contacts {
    position: static;
    transform: translateY(0%);
    margin-left: 20px;
  }

  .footer__additional-links {
    justify-content: space-between;
    margin: 0 0 50px 20px;
  }

  .footer__quicklinks+.footer__quicklinks {
    margin: 0;
  }
}

@media (max-width: 750px) {
  .virtual__hero {
    margin-top: 0;
  }

  .video-popup:hover {
    .video-popup__img {
      transform: none;
    }
  }

  .virtual__video {
    left: 10%;
  }

  .about-us__coloumn {
    width: 400px;
  }

  .service__items {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .why-us__decor-hero::after {
    width: 18.75rem;
    height: 23.313rem;
  }

  .testimonial {
    margin-bottom: 70px;
  }

  .testimonial__wrapper {
    background-image: none;
    height: auto;
    padding: 30px 0;

    &::after {
      filter: blur(120px);
      height: 75%;
      width: 40%;
      transform: translate(-50%, -50%) rotate(-10deg);
    }
  }

  .testimonial__title {
    margin-bottom: 25px;
  }

  .testimonial__item {
    position: static;
    margin-bottom: 30px;
    display: block;
    height: 210px;
    width: 100%;
    background: linear-gradient(#252532, #252532) center/calc(100% - 2px) calc(100% - 2px) no-repeat, linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0, transparent 100%);
    padding-top: 10px;
  }

  .testimonial__img-box {
    margin: 0;
    display: inline-block;
    z-index: 1;

    &:hover {
      transform: none;
    }
  }

  .testimonial__item-descr {
    display: block;
    background: none;
    text-align: justify;
  }

  .testimonial__item--two,
  .testimonial__item--four,
  .testimonial__item--six {
    flex-direction: row;

    .testimonial__img-box {
      margin-right: 16px;
      margin-left: 0;
    }
  }

  .testimonial__btn {
    display: block;
    height: 50px;
    padding: 13px;
    width: 183px;
    margin: 0 auto;
    text-transform: uppercase;
  }

  .hidden {
    display: none;
  }

  .pricing__img {
    display: none;
  }

  .pricing__inner {
    padding: 20px;
  }

  .pricing__column::after {
    height: 1px;
    width: 100%;
    top: 100%;
  }

  .pricing__column {
    padding-right: 0;
    margin-right: 0;
  }

  .pricing__guarantee {
    position: static;
    margin: 20px auto 0;
  }

  .partners__item {
    width: 42px;
    height: 42px;
    background-image: url(../images/decor/adaptive-partners-bg.png);
  }

  .articles__recent {
    padding: 32px 30px 0 50px;
  }

  .articles__popular {
    max-width: 398px;
    margin: 0 auto;
  }

  .slider__item-box {
    width: 398px;
    height: 266px;
    background-image: url(../images/decor/slider-2.jpg);
  }

  .slick-next::before {
    display: none;
  }

  .slider__item-title {
    font-size: 1.5rem;
  }

  .articles__wrapper {
    padding-right: 15px;
  }

  .newsletter__inner {
    height: 200px;
    padding: 30px 15px;
    background-position: center;
  }

  .newsletter__title {
    font-size: 2rem;
    line-height: 2.3rem;
  }

  .footer::before {
    width: 26rem;
  }
}

@media (max-width: 600px) {
  .virtual__content {
    margin-bottom: 50px;
  }

  .virtual__ecs-wrapper {
    margin-top: 50px;
    padding: 25px 15px;
  }

  .virtual__item-text {
    text-align: justify;
    line-height: 1.20rem;
  }

  .virtual__video {
    position: static;
    margin: 0 auto;
  }

  .virtual__wrapper-img {
    display: none;
  }

  .virtual__title {
    font-size: 3rem;
    line-height: 3.625rem;
  }

  .decor-net::after {
    display: none;
  }

  .title {
    font-size: 2rem;
    line-height: 2.625rem;
  }

  .about-us__wrapper-img,
  .why-us__wrapper-img,
  .pricing__inner,
  .articles__box {
    display: block;
  }

  .about-us {
    margin: 70px 0;
  }

  .service,
  .why-us,
  .video,
  .pricing {
    margin-bottom: 70px;
  }

  .articles {
    margin-bottom: 120px;
  }

  .service__content {
    margin-bottom: 50px;
  }

  .service__item {
    padding: 38px 20px 19px 15px;
  }

  .why-us__img {
    margin: 0;
  }

  .why-us__decor-hero::after {
    left: 9%;
  }

  .why-us__wrapper-img::after {
    filter: blur(75px);
  }

  .testimonial__wrapper {
    display: block;
  }

  .testimonial__item-descr {
    padding: 10px;
  }

  .pricing__column::after {
    top: 105%;
  }

  .articles__item {
    flex-direction: column;
    position: relative;
  }

  .articles__item-descr {
    margin: 0;
    margin-top: 10px;
  }

  .articles__item-btn {
    display: none;
  }

  .articles__item-img {
    align-self: flex-start;
  }

  .articles__recent {
    padding: 32px 15px 0 30px;
  }

  .slider__item-title {
    font-size: 1.2rem;
  }

  .newsletter__title {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }

  .footer {
    padding: 60px 0 20px;
  }
}

@media (max-width: 500px) {
  .slider__item-box {
    width: 100%;
    height: 200px;
    background-position: center;
    margin: 0 auto;
    padding: 0 0 10px 12px;
  }

  .slider__item-title {
    width: 200px;
  }

  .newsletter__inner {
    padding: 30px 5px;
  }

  .newsletter__form {
    width: 100%;
  }

  .newsletter__form input {
    width: 100%;
  }

  .footer__box-logo {
    flex-direction: column;
  }

  .social {
    margin-top: 25px;
  }

  .footer__additional-links {
    margin: 0 0 50px 0;
  }

  .footer__contacts {
    margin: 0;
  }

  .footer::before {
    display: none;
  }
}

@media (max-width: 440px) {
  .about-us__coloumn {
    width: 288px;
  }

  .about-us__video {
    bottom: -100px;
    right: 5%;
  }

  .about-us__wrapper-img {
    width: 240px;
    margin: 0 auto;
  }

  .about-us__wrapper-img::after {
    left: 40%;
    width: 85%;
    top: 60%;
    filter: blur(80px);
  }

  .about-us__coloumn-text {
    margin-top: 60px;
  }

  .about-us__decor-hero::after {
    left: 22px;
    width: 14.75rem;
    height: 15.2rem;
  }

  .video-popup {
    width: 168px;
    height: 110px;
  }

  .service__content-text::after {
    left: 20px;
    filter: blur(75px);
  }

  .service__item-btn {
    transform: translate(-50%, 100%);
  }

  .service__item-title {
    left: 80px;
  }

  .why-us__wrapper-img {
    width: 240px;
  }

  .why-us__decor-hero::after {
    width: 12.75rem;
    height: 15.313rem;
  }

  .why-us__wrapper-img::after {
    filter: blur(40px);
  }

  .spoiler__box-title {
    font-size: 0.95rem;
  }

  .pricing__guarantee {
    width: 270px;
  }

  .pricing__column::after {
    top: 103%;
  }

  .slider__item-box,
  .slick-dots {
    margin: 0;
  }

  .newsletter__form input {
    padding: 5px;
  }

  .newsletter__form button {
    width: 40px;
    height: 40px;
    top: 15%;
  }
}