$white: #ffffff;
$black-100: #18181B;
$black-50: #252532;
$grey-1: #B0B0B2;
$grey-2: #D1D1D1;
$gradient: linear-gradient(90deg,#0cbaf1 0,#e95ce9 100%);
$text-gradient: linear-gradient(90deg, #0cbaf1 0, #e95ce9 25%);

@mixin h1{
  @extend .chakra-petch-semibold;
  font-size: 4rem;
  line-height: 4.25rem;
  letter-spacing: 1px;
  color: $white;
}

@mixin h5{
  @extend .chakra-petch-medium ;
  font-size: 1.25rem;
  color: $white;
}

@mixin h6{
  @extend .chakra-petch-regular;
  font-size: 1.25rem;
  color: $white;
}


